body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#content{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:200px;
    margin: 10px;
    user-select: none;
}